.container{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.header{
    display: flex;
    height: 100px;
    width: 100%;
    font-size:10ch;
    gap: 0px;
    color: white;
    text-align: center;
}
.title{
    flex-grow:1;
}
#home{
    background-color: aquamarine;
}
#new{
    background-color: black;
}
#contact{
    background-color: gray;
}
#about{
    background-color: black;
    flex-basis: 600px;
}